---
---
<!DOCTYPE html>
<html>
  <head>

    <!-- Globals -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="og:type" content="article"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@peterjskennedy">
    <meta name="twitter:image" content="{{site.url}}/assets/images/main/iceland.jpg"/>
    <meta name="og:image" content="{{site.url}}/assets/images/main/iceland.jpg"/>


    <!-- Title related -->
    {% if page.title == null %}
      <title>{{site.title}}</title>
      <meta name="og:title" content="{{site.title}}"/>
      <meta name="twitter:title" content="{{site.title}}"/>
    {% else %}
      <title>{{ page.title }} - {{site.title}}</title>
      <meta name="og:title" content="{{page.title}} - {{site.title}}"/>
      <meta name="twitter:title" content="{{page.title}} - {{site.title}}"/>
    {% endif %}

    <!-- Description related -->
    {% if page.description == null %}
      <meta name="description" content="{{site.description}}">
      <meta name="twitter:description" content="{{site.description}}"/>
      <meta name="og:description" content="{{site.description}}"/>
    {% else %}
      <meta name="description" content="{{page.description}}">
      <meta name="twitter:description" content="{{page.description}}"/>
      <meta name="og:description" content="{{page.description}}"/>
    {% endif %}

    {% if page.url == null %}
      <meta name="og:url" content="{{site.url}}"/>
      <meta name="twitter:url" content="{{site.url}}"/>
    {% else %}
      <meta name="og:url" content="{{site.url}}{{page.url}}"/>
      <meta name="twitter:url" content="{{site.url}}{{page.url}}"/>
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/highlight.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">

    {% include analytics.html %}
  </head>
  <body>
    {{ content }}
  </body>
</html>