---
---
<!DOCTYPE html>
<html>
  <head>

    {% if page.title == null %}
      <title>pjsk.</title>
    {% else %}
      <title>{{ page.title }} - pjsk</title>
    {% endif %}

    <meta name="description" content="I ramble about things, try to keep up.">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta property="og:title" content="pjsk.io"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://pjsk.io/"/>
    <meta property="og:description" content="I ramble about things, try to keep up."/>
    <meta property="twitter:card" content="I ramble about things, try to keep up."/>
    <meta property="twitter:url" content="http://pjsk.io/"/>
    <meta property="twitter:title" content="pjsk."/>
    <meta property="twitter:description" content="I ramble about things, try to keep up."/>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/highlight.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">

    {% include analytics.html %}
  </head>
  <body>
    {{ content }}
  </body>
</html>