---
layout: home
---

<h4 style="text-align: center;">
  <a href="/">pjsk.</a>
</h4>

<div class="main-container">
  <div class="post">
    <div class="post-header">
      <div class="post-title">
        {{ page.title }}
      </div>
      <div class="post-date">
        {{ page.date | date: "%B %-d %Y" }}
      </div>
    </div>

    {{ content }}

    <hr/>

    <div class="footer">
      <h4 style="text-align: center;">
        <a href="/">View other posts.</a>
      </h4>
    </div>
  </div>
</div>
